body {
  font-family: "Shadows Into Light", cursive;
  background-image: url(./others/background_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 100%;
  /* height: 100vh; */
  padding: 30px 0;
  /* display: grid;
  grid-template-rows: 1fr 1fr auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-rows: auto; */
}
h1 {
  text-align: center;
}

#random-kittens,
#favorites-kittens {
  flex-wrap: wrap;
  margin: 0 auto;
  border-radius: 20px;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
  padding: 30px 40px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  position: relative;
  text-align: start;
  box-sizing: border-box;
}
.random-kittens-container,
.favorites-kittens-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.random-title,
.favorite-title {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 30px;
}
.icon-container {
  display: flex;
  top: 10px;
  right: 10px;
  justify-content: end;
  margin: 0;
  position: relative;
}
.star-icon,
.remove-star-icon {
  position: absolute;
  width: 30px;
}
.star-icon:hover {
  cursor: pointer;
}
.remove-star-icon:hover {
  cursor: pointer;
}
.img-container > img:nth-child(2) {
  border-radius: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.button-box {
  margin: 40px 0 90px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border: 0;
  background-image: linear-gradient(150deg, #d7bde2, #d6eaf8, #abebc6);
  border-radius: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
}
button span {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 16px 24px;
  border-radius: 14px;
  transition: 0.3s;
}
button:hover span {
  background: none;
}
button:active {
  transform: scale(0.9);
}
#favorites-kittens {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.favorites-kittens-container {
  height: auto;
  overflow: auto;
}
